<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>menus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card radio-group *ngFor="let food of menuInfo" style="margin: auto">
    <div class="ionCardTitle">
      <ion-card-title>{{food.itemName | uppercase}}</ion-card-title>
      <ion-toggle></ion-toggle>
    </div>
    <h2 style="text-align: center">{{food.description}}</h2>
    <h2 style="text-align: center">{{food.price | currency}}</h2>
    <ion-card-content>



    <ion-list radio-group *ngFor="let option of food.options" >
      <ion-item>
        <ion-label>{{option}}</ion-label>
        <ion-radio value=""></ion-radio>
      </ion-item>
    </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
